# --- DATABASE CONNECTION (Supabase) ---
DB_HOST=db.vcbomkasjkcpqntxeyur.supabase.co
DB_PORT=5432
DB_USER=postgres
DB_PASS=Zc@9726mzaEu/Lr
DB_NAME=postgres

# --- JWT CONFIG ---
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=7d
